body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f1e1+1,edded0+100 */
    background: #f7f1e1; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #f7f1e1 1%, #edded0 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #f7f1e1 1%,#edded0 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #f7f1e1 1%,#edded0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f1e1', endColorstr='#edded0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-position: fixed;
}

button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-primary {
    background: #17aa56;
    color: #fff;
    border-radius: 7px;
    box-shadow: 0 5px #119e4d;
    padding: 25px 60px 25px 90px;
}

.app {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
}

.app .centered {
    flex: 1;
}

.pie {
    width:1px;
    height:1px;
    position: relative;
    display: inline-block;
    margin: 200px;
}

.pie .pizza {
    position: absolute;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;

}

.pie .pizza:nth-child(1) {
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.pie .pizza:nth-child(2) {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.pie .pizza:nth-child(3) {
    -ms-transform: rotate(135deg); /* IE 9 */
    -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
    transform: rotate(135deg);
}
.pie .pizza:nth-child(4) {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.pie .pizza:nth-child(5) {
    -ms-transform: rotate(225deg); /* IE 9 */
    -webkit-transform: rotate(225deg); /* Chrome, Safari, Opera */
    transform: rotate(225deg);
}
.pie .pizza:nth-child(6) {
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}
.pie .pizza:nth-child(7) {
    -ms-transform: rotate(315deg); /* IE 9 */
    -webkit-transform: rotate(315deg); /* Chrome, Safari, Opera */
    transform: rotate(315deg);
}
.pie .pizza:nth-child(8) {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.text-center {
    text-align: center;
}

.click {
    display: flex;
    align-items: center;
}